@import url(https://fonts.googleapis.com/css?family=Raleway);

body{
  font-family:'Raleway', sans-serif;
  text-align:justify;
}

aside.home{
  position:relative;
  text-align:center;
}
.separateur{
  padding: 20px 0;
}
.partenaires{
  text-align:center;
}
.partenaires .segment{
  padding-top :15px;
}
.relative{
  position:relative;
}
