@import url(https://fonts.googleapis.com/css?family=Raleway);

body{
  font-family:'Raleway', sans-serif;
  text-align:justify;
}

aside.home{
  position:relative;
  text-align:center;
}
.separateur{
  padding: 20px 0;
}
.partenaires{
  text-align:center;
}
.partenaires .segment{
  padding-top :15px;
}
.relative{
  position:relative;
}

/* Admin */

.users .icon{
  cursor: pointer;
}

.customClearing::after{
  content:'.';
  visibility: hidden;
  clear: both;
  display: block;
}
.creationSavoirEtre,
.ui.button.creationSavoirEtre{
  display: none;
}
/* Jeune - Liste références */
.jeuneHeader {
  margin-bottom: -2em;
}
.ui.button.selectionView,
.long{
  display: none;
}
.reference i ~ .content{
  width: 100%;
}
.reference.list .ui.grid{
  margin-top:0;
  margin-bottom:0;
}
.reference.list .ui.grid .column{
  padding-bottom: 0;
  padding-top: 0.5rem;
}
.reference .item.state-selection > i.icon:before{
  content : "\f096";
}
.reference .item.state-selection.active > i.icon:before{
  content : "\f046";
}
.reference .item.state-selection .long{
  display: none!important;
}
.jeuneHeader > div{
  float: right;
}
/* Demande de reference */
.creation_reference{
  width:75%;
}
/* Animation mise en valeur de la référence */
.item.flash{
  -webkit-animation-name: flash;
  -moz-animation-name: flash;
  -o-animation-name: flash;
  animation-name: flash;

  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;

  -webkit-animation-timing-function: ease-in-out;
  -moz-animation-timing-function: ease-in-out;
  -o-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
}
@-webkit-keyframes flash {
  0% {
    background-color: #fff6d8;
  }
  100%{
    background-color: inherit;
  }
}
@-moz-keyframes flash {
  0% {
    background-color: #fff6d8;
  }
  100%{
    background-color: inherit;
  }
}
@-o-keyframes flash {
  0% {
    background-color: #fff6d8;
  }
  100%{
    background-color: inherit;
  }
}
@keyframes flash {
  0% {
    background-color: #fff6d8;
  }
  100%{
    background-color: inherit;
  }
}
/* Jeune - Listes engagement */
.liste-engagement.hidden, .ui.button.liste-engagement.hidden{
  display: none;
}
.liste-engagement .ui.grid .column{
  padding-bottom: 0;
  padding-top: 0.5rem;
}

h2.engagement {
  margin-bottom: 1rem 0!important;
}
h2.engagement div{
  display: inline-block;
  position: relative;
  background-color: white;
  padding-right: 0.5em;
  z-index: 2;
}
h2.engagement hr{
  position: relative;
  bottom: -0.8em;
  margin: 0;
  z-index: 1;
  border-top: none;
}
h2.engagement hr.pink{
  color: #cc0093;
}
.liste-engagement.content{
  clear: both;
}
/* Fix responsive design */
header .menu i,
.tabular.menu label i{
  display: none;
}
header > .menu {
  width: 100vw;
}
@media (max-width: 767px) {
  .creation_reference{
    width:100%;
  }
  header .menu i{
    display: inline-block;
  }
  header .menu span,
  .reference .ui.button span{
    display: none;
  }
  header .menu .image{
    width: 50px!important;
  }
  .jeuneHeader *{
    float: none!important;
  }
  .jeuneHeader > div {
    display: flex;
    flex-wrap: wrap;
  }
  .jeuneHeader > div > *{
    display: flex;
    width: 100%;
    margin: 5px 0;
  }
  .jeuneHeader .button{
    margin: 5px 0;
  }
  .liste-engagement.content{
    margin-top: 1.5em;
  }
}
@media (max-width: 500px) {
  .tabular.menu a > span{
    display: none;
  }
  .tabular.menu label i{
    display: inline-block;
  }
}
